@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
}

@font-face {
  font-family: 'Brittany-signature';
  src: url('./fonts/brittany-signature/BrittanySignature.ttf');
}

@font-face {
  font-family: 'The-seasons';
  font-style: 'regular';
  src: url('./fonts/Demo-The-Seasons/Fontspring-DEMO-theseasons-reg.otf');
}

html {
  scroll-behavior: smooth !important;
}

@layer components {
  .nav-btn {
    @apply  text-white font-medium text-xl uppercase transition ease-in-out duration-300 hover:text-site-gold hover:scale-105;
  }
  .close-mob-nav {
    @apply  cursor-pointer absolute top-0 right-0 mr-5 w-10 text-site-gold font-bold text-2xl hover:text-site-gold-100;
  }
  .hero-sec-layout {
    @apply grid grid-cols-1 gap-y-12 md:grid-cols-2 md:items-center lg:grid-cols-3;
  }
  .category-card {
    @apply duration-500 text-2xl text-center font-semibold text-white space-y-2 hover:text-site-gold hover:scale-105 lg:text-[1.7rem] lg:text-left lg:grid lg:grid-cols-2 lg:items-center lg:place-items-start;
  }
}
